<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536863314612-7u6f19vonuls4c604fi469fev5827cnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536863314612-7u6f19vonuls4c604fi469fev5827cnk</string>
	<key>API_KEY</key>
	<string>AIzaSyCTgHeygTEUU3rEtkrNe-qTPHIO8yUNceY</string>
	<key>GCM_SENDER_ID</key>
	<string>536863314612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itw.fcmpn</string>
	<key>PROJECT_ID</key>
	<string>testingfcmapi</string>
	<key>STORAGE_BUCKET</key>
	<string>testingfcmapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536863314612:ios:c9f4f3a624a16337</string>
	<key>DATABASE_URL</key>
	<string>https://testingfcmapi.firebaseio.com</string>
</dict>
</plist>